.row
  .span5.offset4
    .well#login
      .row.title
        %h2
          Authy Demo Site
        %p 
          Sign in below or click 
          %span
            =link_to "here", new_user_path 
          to start again 

      =form_for @user, :url => url_for(:controller => "sessions", :action => "create"), :html => {:class => "form"}, :method => :post do |f|
        %fieldset
          .control-group
            .controls
              =f.text_field "email", :placeholder => "Enter your email"

          .control-group
            .controls
              =f.password_field "password", :placeholder => "Enter your password"

          .row
            .span4
              %button.submit-button.btn.btn-primary(type="submit")
                Submit
