.row
  .span5.offset4
    .well#login
      .row.title
        .span4.offset1
          %h2
            Authy Demo

      =form_for @user, :url => url_for(:controller => "sessions", :action => "create"), :html => {:class => "form"}, :method => :post do |f|
        %fieldset
          .control-group
            .controls
              =f.text_field "email", :placeholder => "Enter your email"

          .control-group
            .controls
              =f.password_field "password", :placeholder => "Enter your password"

          .row
            .span4
              %button.submit-button.btn.btn-primary(type="submit")
                Submit
