.new-session
  .form
    %h2.center Login
    %p.center 
      Sign in below or click 
      %span
        =link_to "here", new_user_path 
      if you don't have an account
      %br/
    =form_for @user, :url => url_for(:controller => "sessions", :action => "create"), :method => :post do |f|
      .input-row
        =f.label :email
        =f.text_field "email"
      .input-row
        =f.label :password
        =f.password_field "password"
      .button-row 
        %button(type="submit")
          Login
