.row
  .span5.offset4
    = render :partial => 'shared/flashes'

    .well#login
      .row.title
        .span4.offset1
          %h2
            Authy Demo

      =form_for @user, :url => url_for(:controller => "sessions", :action => "create"), :html => {} do |f|
        %fieldset
          =f.hidden_field :email, :value => @email
          =f.hidden_field :password, :value => @password

          .control-group
            .controls
              =f.text_field :token, :placeholder => "Authy Token"

          .row
            .span4
              %button.submit-button.btn.btn-primary(type="submit")
                Submit
