.two-factor
  .form
    =render :partial => 'shared/flashes'
    %h2.center
      Token Verification
    %p.center
      Use your cellphone to get the token
    =form_tag create_two_factor_auth_sessions_path, :method => "post" do 
      .input-row
        %label
          TOKEN
        =text_field_tag :token, nil, :id => "authy-token"
      .button-row
        %button(type="submit")
          Login

