.well.span8.offset2
  .center
    %h2 
      We've just created an account!
    %br/
    %p.account_info
      %strong
        Username: 
      #{current_user.email}
      %br/
      %strong
        Password:
      password


    %p.instructions
      Click
      %span
        Settings
      above to add two-factor authentication.
