.account-just-created
  .content
    %h1 
      Hello #{current_user.email.split("@")[0]}
    %br/
    %p 
      This page simulates your users main page. 
    %p  
      On the settings menu you will be able to enable two-factor authentication.

