.well
  %h2.center 
    Congrats! You just logged in securely with Authy.

  %p
    %strong
      You can now add Authy to your own website: 
      %span.btn.btn-primary
        = link_to "Sign up to Authy now!", "https://www.authy.com/signup"

  %p.instructions
    Read more about Authy on the
    %span
      =link_to "Getting Started page", "https://www.authy.com/help/getting-started"
