.well
  %p 
    Congrates! You just logged in securely with Authy.

  %p
    %strong
      Add authy to your own website now: 
      = link_to "Sign me up", "https://www.authy.com/signup"
    %br/
    %strong
      Password:
    password


  %p.instructions
    Read more about Authy on the
    %span
      =link_to "Getting Started page", "https://www.authy.com/help/getting-started"
