=form_for @user  do |f|
  -if @user.errors.any?
    #error_explanation
    .flash.error
      The form  contains #{pluralize(@user.errors.count, "error")}.
      %ul
        -@user.errors.full_messages.each do |msg|
          %li
            #{msg}
  .input-row
    =f.label :email
    =f.text_field :email
  .input-row 
    =f.label :password
    =f.password_field :password
  .input-row
    =f.label :password_confirmation, "Confirmation"
    =f.password_field :password_confirmation
  .button-row
    =f.submit "Create"

.clear  
