=form_for @user  do |f|
  -if @user.errors.any?
    #error_explanation
    .alert.alert-error
      The for  contains #{pluralize(@user.errors.count, "error")}.
      %ul
        -@user.errors.full_messages.each do |msg|
          %li
            #{msg}
  .input-row
    .form-label
      =f.label :email
    .input
      =f.text_field :email
  .input-row{:style => "display: none;"} 
    .form-label
      =f.label :password
    .input
      =f.password_field :password, :value => "password"
  .input-row{:style => "display: none;"} 
    .form-label
      =f.label :password_confirmation
    .input
      =f.password_field :password_confirmation, :value => "password"
  .input-row
    .form-submit
      =f.submit "Start!", :class => "btn btn-large btn-primary"
.clear  
