=form_for @user, do |f|
  -if @user.errors.any?
    #error_explanation
    .alert.alert-error
      The form contains #{pluralize(@user.errors.count, "error")}.
      %ul
        -@user.errors.full_messages.each do |msg|
          %li
            #{msg}
  .input-row
    .form-label
      =f.label :email
    .input
      =f.text_field :email
  .input-row
    .form-label
      =f.label :password
    .input
      =f.password_field :password
  .input-row 
    .form-label
      =f.label :password_confirmation
    .input
      =f.password_field :password_confirmation
  .input-row
    .form-submit
      =f.submit "Create my account", :class => "btn btn-large btn-primary"
.clear  
