.logout-modal
  .content
    %h1.center Two factor enabled
    %br/
    %h4 
      1. Install Authy app: www.authy.com/install (On your phone browser) 
      %br/

    %br/
    %br/
    .center
      .btn.btn-large.btn-danger
        %a{:href => logout_sessions_path} Got it, Log me out

