.modal_content
  .new-container-modal
    %h2 Two factor is now setup for your account.

    %p So that you can try authy now, we are logging you out
    %p 
      To log back in use the following credentials:

    %p
      %strong
        Username:
      = "#{current_user.email}"
      %br/
      %strong
        Password:
      = current_user.password

    %p
      Make sure you download the Authy app if you have a smartphone. We sent you a text
      message with instruction on how to get the app. If you don't have a smartphone, we'll
      send you a text-message with the token when you are signin in.
    
    .center
      .btn.btn-large.btn-danger
        %a{:href => logout_sessions_path} Got it, Log me out

