.enable-two-factor
  .form
    %h1.center Two-Factor Authentication
    =form_for current_user, :url => url_for(:controller => "users", :action => "register_authy") do |f|
      -if @errors
        #error_explanation
        .flash.error
          %ul
            -@errors.each do |field, message|
              %li
                = "#{field}: #{message}"
      .input-row
        %label Country
        =f.text_field "country_code", :id => "authy-countries"
      .input-row
        %label Cellphone
        =f.text_field "cellphone", :id => "authy-cellphone"

      .button-row
        %button(type="submit")
          Enable
      .clear
