.new-user
  .form
    %h1.center Create new user
    %p.center
      Please enter your real e-mail, we'll never SPAM you!
      %br/
      Click 
      %span
        = link_to "here", new_session_path
      if you already have an account
    =render "form"


