.row
  .span6.offset3
    .well.user-form
      %p
        To get started enter your e-mail, we'll automatically create an acccount and log you in
        to the site as if you were already an existing user. You password will be "password".
      =render "form"


