.row
  .span6.offset3
    .well.user-form
      %p
        .center.bold
          To get started enter your e-mail. 
        To simulate an existing user, we'll automatically create an acccount and log you in,
        as if you we're an existing user.
      =render "form"


