-unless flash[:notice].blank?
  .alert.alert-success
    = content_tag :div, flash[:notice]

-unless flash[:error].blank?
  .alert.alert-error
    = content_tag :div, flash[:error]

- unless flash[:alert].blank?
  .alert.alert-info
    = content_tag :div, flash[:alert]
