-if current_user
  %ul.nav.nav-pills.header-menu
    %li.dropdown
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        Settings
        %b.caret
      %ul.dropdown-menu
        %li=link_to "Enable 2-Factor Auth", enable_authy_users_path(current_user)

    -if (current_user.authy_id != 0)
      %li= link_to "Logout", logout_sessions_path 
    -else
      %li
        %a#fake_logout{:title => "Please enable two-factor in the setting menu before you log-out"}= "Logout"
