.welcome
  .title
    %h1 Welcome to the Authy Demo
    %p This demo will guide through the following 3 steps
.steps 
  .column
    %h1 1
    %h2 Create an account
  .column
    %h1 2
    %h2 Enable two-factor auth
  .column
    %h1 3
    %h2 Login using two-factor auth
