// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login {
    .title {
        padding: 20px;
    }

    input {
        font-size: 18px;
        padding: 10px 12px;
        width: 316px;
        border: 1px solid #aaa;
        border-top-color: #999;
        border-radius: 4px;
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12);
    }
}